*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* Header */
.header{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    box-shadow: 0px 5px 0px brown;
}
/* Buttons */
.divButtons{
    display: flex;
    justify-content: center;
}
.buttons{
    margin: 0.6em 1.2em;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: red;
    padding: 1em;
    box-shadow: 0px 0px 13px brown;
}
/* Results */
.centerResult{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
#divResults{
    width: 80%;
    background-color: red;
    border-radius: 15px;
    box-shadow: 0px 0px 13px brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divResult{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 13px black;
    margin: 2%;
}
.result{
    background-color: white;
    margin-bottom: 2%;
    padding: 4%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px brown;
}